<a href="/login">
    <h1>Scuba<span>PHP</span></h1>
</a>

<form action="/login" method="POST">
    {{status}}

    <label for="login">Email</label>
    <input type="text" name="email" required value="{{email-value}}">
    {{email-errors}}

    <label for="password">Senha</label>
    <input type="password" name="password" required value="{{password-value}}">
    {{password-errors}}

    <button>Entrar</button>

    <a href="/register">Cadastrar Usuário</a>
    <a href="/forget-password">Esqueci Minha Senha</a>
</form>