<a href="/login">
    <h1>Scuba<span>PHP</span></h1>
</a>

<form action="/change-password" method="post">
    <p>Alterar Senha</p>

    {{status}}

    <input type="hidden" name="token" required value="{{token-value}}">

    <label for="senha">Senha</label>
    <input type="password" name="password" required value="{{password-value}}">
    {{password-errors}}

    <label for="repita-senha">Repita Senha</label>
    <input type="password" name="password-confirm" required value="{{password-confirm-value}}">
    {{password-confirm-errors}}

    <input type="submit" value="Salvar">
</form>