{{status}}

<h1>Scuba<span>PHP</span></h1>

<div class="info">
    <div class="imagemPerfil">
        <img src="img/elephant.png">
    </div>
    <div class="dados">
        <div class="info-dados">
            <span class="mensagem-erro">{{error-message}}</span>
            <p>Nome do Usuário: {{user-name}}</p>
            <p>Email do Usuário: {{user-email}}</p>
        </div>
        <div class="delete">
            <a href="/logout"><img src="img/exit-outline.svg"></a>
            <a href="/delete-account"><img src="img/trash-outline.svg"></a>
        </div>
    </div>
</div>